.overlay {
    background: rgba(242,243,245, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay > div{
    background: var(--white);
    border-radius: 1rem;
    height: 40%;
    min-height: 20rem;
    width: 30%;
    min-width: 22rem;
    padding: 1rem;
}

.form {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1.5rem;
}

.form input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    background: var(--background);
    border-radius: 1rem;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 1rem;
}

.overlay > div span:first-child{
    display: flex;
    gap: 0.5rem;
}

.overlay > div span:first-child p {
    font-size: 1.5rem;
    font-weight: 500;
}

.Buttons{
    display: flex;
    gap: 0.5rem;
}

.form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 10px;
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 7px;
    width: 8rem;
    height: 2.5rem;
    margin-top: 1rem;
    transition: filter 0.5s;
}

.form button:first-child {
    background-color: var(--green);
}

.form button:last-child {
    background-color: var(--red);
}

.form button:hover {
    filter: brightness(0.9);
}

.TransactionType {
    background: var(--background); 
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 10px;
    color: var(--title);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 1rem;
    transition: filter 0.5s; 
}

.TransactionType option {
    background: var(--background);
}

