.completedGoalsContainer { 
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;

    margin-bottom: 2rem;
}

.completedGoalsContainer span:first-child{
    font-size: 1.25rem;
}

.completedGoalsContainer span:first-child span{ 
    margin-left: 0.5rem;
}

.completedGoalsContainer span:last-child{ 
    font-size: 1.5rem;
}