.HeadMenu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
    gap: 0.7rem;
}

.moneyBox {
    background-color: var(--green);
    padding: 0.3rem 0.5rem;
    border-radius: 14px;
    height: fit-content;
    min-width: 7rem;
    max-width: fit-content;

    text-align: center;

    color: var(--white);
    font-weight: 700;

    box-shadow: 0 14px 28px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);

}

.moneyBoxOff {
    
    background: linear-gradient(-45deg, #d8d8d8, #e7e7e7, #f7f5f5, #d4d4d4);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    padding: 0.3rem 0.5rem;
    border-radius: 14px;
    height: fit-content;
    min-width: 7rem;
    max-width: fit-content;

    text-align: center;

    font-weight: 700;

    box-shadow: 0 14px 28px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

.toggleBox:hover{
    cursor: pointer;
}

.moneyBoxOff span{
    opacity: 0;
}
