.table {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table header {
    margin-left: -0.4rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.name {
    position: relative;
    left: -0.7rem;
}

.value {
    position: relative;
    left: -2.1rem;
}

.date {
    position: relative;
    left: -1.3rem;
}

.table > div {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.8rem;
    width: 100%;
    min-height: 3rem;
    background-color: var(--green);
    opacity: 70%;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--white);

    transition: opacity 0.5s;
}

.table > div:hover {
    opacity: 100%;
    cursor: pointer;
}

.table > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table > div > div svg {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill 0.2s;
}

.table > div > div:last-child:hover svg path {
    fill: var(--dark-red);
}

.subType:hover{
    fill: var(--white);
    filter: brightness(0.9);
}

