.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    min-height: 1rem;
}

.button{
    color: var(--title);
    background: var(--white);

    padding: 0.85rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;

    border: 0;
    border-radius: 20px;

    font-size: 1.2rem;
    font-weight: 600;

    transition: filter 0.2s;

    gap: 10px;
}

.button img {
    height: 1.5rem;
}