.menu {
    background: var(--white);
    max-width: 5rem;
    height: 100vh;
    border-bottom: 0.4rem solid var(--orange);

    display: flex;
    flex-direction: column;

    align-items: center;
}

.logo {
    margin-top: 3rem;
}


.menuList {
    list-style-type:none;
    display: flex;
    flex-direction: column;

    align-items: inherit;
}

.menuList li {
    margin-bottom: 2rem; 
}

.menuList li img {
    cursor: pointer;
    /* height: 21px; */

    transition: filter 0.2s;
}

.menuList li img .active:hover{
    filter: brightness(0.9)
}

.menuList li img:hover {
    filter: brightness(1.5)
}

