.container{
    background: var(--white);
    height: 100%;
    width: 35rem;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.content{
    padding: 1rem;
}

.content > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content > div > span {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: var(--title);
    font-weight: 500;
}

.Filter {
    background: var(--orange);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--white)
}


.VisibilityOff{
    background: linear-gradient(-45deg, #d8d8d8, #e7e7e7, #f7f5f5, #d4d4d4);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100%;
    width: 35rem;
    border-radius: 6px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);

}

.next:hover{
    cursor: pointer;
}

.nothing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 1rem 2rem 3rem;
}

.nothing svg {
    position: relative;
    left: -0.5rem;
    margin-bottom: 1.5rem;
}

.nothing h2 {
    font-size:1.8rem;
    color: var(--title);
    margin-bottom: 0.3rem;
}

.nothing p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.nothing div:last-child {

    background-color: var(--green);

    color: var(--white);
    font-weight: 600;

    padding: 0.7rem;
    border-radius: 0.5rem;

    width: 15rem;

    transition: filter 0.5s;
}

.nothing div:last-child:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
