.MainContainer {

    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 2.4rem 2rem;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;

}

.MainContainer > div{
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

